# Pycache
__pycache__/
# Conda
.conda/

# Jupyter Notebooks
*.ipynb


# Deprecated Files
.cache
ilp.py
ilp_korrekt_visualisiert.py

# not ready files
tiling.py
tilings.py

# test and pre-calculating files
test.py
